<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">

    <title>Image Search Abstraction Layer</title>

    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">

    <!-- import the webpage's client-side javascript file -->
    <script src="/script.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Image Search Abstraction Layer</h1>
    </header>

    <main>
      <h2>Paste the search term in the form below or you could do a direct search by appending <code>/imagesearch/[search term]</code></h2>

      <p>If unsure, just fill in the form below</p>

      <!-- Set Up Form -->
      <form action="/api/imagesearch" method="post">
        <label>
          Search Term (Required)
          <input name="searchterm" type="text" maxlength="100" required placeholder="Search Term (e.g. torch)">
        </label>
        <label>
          Paginate (Optional)
        <input name="paginate" type="number" placeholder="Paginate (e.g. 1)"></label>
        <button type="submit" id="submit-dream">Search</button>
      </form>

      <h3>
        Add <code>?offset={num}</code> if you are doing a direct get request and doing more than one search.
      </h3>
      
      <p>
        Check for list of <a href="/latest/imagesearch" title="View Latest Search Terms">Latest Search Terms</a>
      </p>
    </main>

    <footer>Made with <a href="https://glitch.com">Glitch</a>!</footer>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:2em;right:20px;"></div>
    <script src="https://button.glitch.me/button.js" defer></script>
  </body>
</html>
